@font-face {
  font-family: 'Dinpro-light';
  src:
  url('../fonts/dinpro/DINPro-Light.woff') format('woff'),
  url('../fonts/dinpro/DINPro-Light.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}
@font-face {
  font-family: 'Dinpro-bold';
  src:
  url('../fonts/dinpro/DINPro-Bold.woff') format('woff'),
  url('../fonts/dinpro/DINPro-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}